services:
  opensearch:
    image: opensearchproject/opensearch:3.3.2@sha256:22fdee0d6db3f500a64cd27ddff3633f32244d0ea58b68ffb151cd2217f0bb0d
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch
      - discovery.type=single-node
      - DISABLE_SECURITY_PLUGIN=true
      - bootstrap.memory_lock=true # along with the memlock settings below, disables swapping
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536 # maximum number of open files for the OpenSearch user, set to at least 65536 on modern systems
        hard: 65536
    volumes:
      - opensearch-data1:/usr/share/opensearch/data
    ports:
      - '9200:9200'
      - '9600:9600' # required for Performance Analyzer
    healthcheck:
      test: ["CMD-SHELL", "curl --silent --fail localhost:9200/_cluster/health || exit 1"]
      interval: 2s
      timeout: 2s
      retries: 50
  api-dummy:
    image: ghcr.io/elifesciences/api-dummy:20251121085356.0.0-g8586240-19565166180-1@sha256:6fcfdf74e493527eb23d348ebb6eba8b2d21f885046378557c58dd98ce7a1b44
    platform: linux/amd64
    ports:
      - '5002:8080'
    healthcheck:
      test: ["CMD-SHELL", "curl --silent --fail localhost:8080/articles || exit 1"]
      interval: 2s
      timeout: 2s
      retries: 10
    stop_grace_period: 1s
  localstack:
    image: localstack/localstack:4.10.0@sha256:a65ee2a9d45a7a34a1f1faae515d2e577ce11210312c077700ccc82daefec238
    environment:
      - SERVICES=sqs
      - AWS_DEFAULT_REGION=eu-central-1
      - HOSTNAME=localstack
      - HOSTNAME_EXTERNAL=localstack
    ports:
      - "127.0.0.1:4566:4566" # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559" # external services port range
  setup:
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - /bin/bash
      - "-c"
      - |
        composer install
        php bin/console queue:create;
        php bin/console search:setup;
        php bin/console keyvalue:setup
    volumes:
      - ./config.php:/app/config.php
    depends_on:
      opensearch:
        condition: service_healthy
      localstack:
        condition: service_healthy
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./config.php:/app/config.php
    ports:
      - '8888:80'
    depends_on:
      setup:
        condition: service_completed_successfully
      api-dummy:
        condition: service_healthy
    stdin_open: true
    tty: true
    extra_hosts:
      host.docker.internal: host-gateway
    stop_grace_period: 1s
  queue-watcher:
    build:
      context: .
      dockerfile: Dockerfile
    command: bin/console queue:watch
    volumes:
      - ./config.php:/app/config.php
    depends_on:
      setup:
        condition: service_completed_successfully
    stop_grace_period: 1s
volumes:
  opensearch-data1:
